<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Gangplank</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:slnt,wght@-10,300..700;0,300..700&family=Roboto+Mono:ital,wght@0,400..700;1,400..700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="{{ .HTTPPath }}/static/style.css"
    />
  </head>
  <body style="height: 100%">
    <div
      class="euiFlexGroup euiFlexGroup-l-flexStart-stretch-column"
      style="height: 100%"
    >
      <div class="euiFlexItem euiFlexItem-growZero">
        <div
          class="euiHeader euiHeader-static-default"
          style="padding: 40px 0px"
        >
          <div class="euiFlexGroup euiFlexGroup-l-center-center-column">
            <div class="euiFlexItem euiFlexItem-growZero">
              <div class="euiText euiText-m">
                <h1>Gangplank</h1>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="euiFlexItem euiFlexItem-grow-1" style="padding: 40px">
        <div class="euiFlexGroup euiFlexGroup-l-center-center-column">
          <div class="euiFlexItem euiFlexItem-growZero">
            <div class="euiText euiText-m-euiTextAlign-center">
              <h1>SIGHUP Gangplank Kubernetes Authentication</h1>
              <p>
                This utility will help you authenticate with your Kubernetes
                cluster with an OpenID Connect (OIDC) flow. Sign in to get
                started.
              </p>
            </div>
          </div>
          <div class="euiFlexItem euiFlexItem-growZero">
            <a
              href="{{ .HTTPPath }}/login"
              rel="noreferrer"
              class="euiButton euiButtonDisplay-m-defaultMinWidth-base-primary"
            >
              <span class="euiButtonDisplayContent">
                <span class="eui-textTruncate">Sign in</span>
              </span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
